<nav class="navbar navbar-color" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="assets/img/logo1.png" width="200">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="navbar-item">
                FundRaisers
              </a>
              <a class="navbar-item">
                List of NGO
              </a>
              <a class="navbar-item">
                About Us
              </a>
            <a class="button is-primary" (click)="openRegisterDialog()">
              <strong>Register</strong>
            </a>
            <a class="button" (click)="openLoginModal()">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="img-container">
      <img src="assets/img/banner.jpg" width="596">
      <img src="assets/img/banner2.jpg" width="596">
      <img src="assets/img/banner3.jpeg" width="600">
    </div>
  </div>
  
