<h1 mat-dialog-title>You are from {{data.name}}</h1>

<div mat-dialog-content>

    <p>What's your favorite city?</p>
    <mat-form-field>
        <mat-label>Favorite City</mat-label>
        <input matInput >
    </mat-form-field>

    <p>Your favorite food?</p>
    <mat-form-field>
        <mat-label>Favorite Food</mat-label>
        <input matInput >
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Get Food</button>
    <button mat-button  cdkFocusInitial>Get City</button>
</div>