<div class="container ctn-width mb-3">



        <div class="notification mt-3 mb-3 custom-margin">
            <strong class="strong-font">Raise funds for an Emergency situation</strong>
        </div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
            <input class="input" type="text" placeholder="Name of the individual/organization">
            </div>
        </div>
        <div class="field">
            <label class="label">Address</label>
            <div class="control">
            <input class="input" type="text" placeholder="Full address">
            </div>
        </div>
        <div class="field">
            <label class="label">Phone Number</label>
            <div class="control">
            <input class="input" type="text" placeholder="Enter phone number">
            </div>
        </div>
        <div class="field">
            <label class="label">Email Id</label>
            <div class="control">
            <input class="input" type="text" placeholder="Enter email id">
            </div>
        </div>
        <div class="field">
            <label class="label">Amount to be donated</label>
            <div class="control">
            <input class="input" type="text" placeholder="Enter amount">
            </div>
        </div>
        <div class="field">
            <label class="label">Type Of Individual</label>
            <div class="control">
            <div class="select">
                <select>
                <option>Individual</option>
                <option>Organization</option>
                <option>NGOs</option>
                </select>
            </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
            <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
            </label>
            </div>
        </div>
        
        <div class="field is-grouped">
            <div class="control">
            <button class="button is-success">Make Payment</button>
            </div>
            <div class="control">
            <button mat-dialog-close class="button is-link is-light">Discard</button>
            </div>
        </div>

</div>