<div class="container ctn-width">
    <div class="notification mt-3 mb-3 custom-margin1">
        <strong class="strong-font">About Team IncrEdibleBytes</strong>
    </div>
</div>
<div class="container ctn-width2">
    <div class="notification mt-3 mb-3 custom-margin2">
        <p>IncreEDIBLE Bytes is a platform which will end the hunger related problems. This platform is developed as a result of Call For Code 2021, WiT Hackathon by a team of technologists who are using tech in solving social problems. This platform uses Angular 12 as web tech and IBM Cloud as serverless APIs. Feel free to checkout the team members who gave their best in developing this platform. </p>
    </div>
</div>


<div class="container">
    <div class="columns">
        <div class="column">
            <img src="assets/img/yashasvi.jpeg">
            <code class="center">Yashasvi Wankhede</code>
        </div>
        <div class="column">
            <img src="assets/img/tripti.jpeg">
            <code class="center">Tripti Rajput</code>
        </div>
        <div class="column">
            <img src="assets/img/shalaka.jpeg">
            <code class="center">Shalaka Bhatt</code>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <img src="assets/img/rajni.jpeg">
            <code class="center">Rajni Saini</code>
        </div>
        <div class="column">
            <img src="assets/img/shrutika.jpeg">
            <code class="center">Shrutika Birje</code>
        </div>
        <div class="column">
            <img src="assets/img/amit.jpeg">
            <code class="center">Amit Agrawal</code>
        </div>
      </div>
</div>