<div class="container ctn-width">
    <div class="notification mt-3 mb-3 custom-margin1">
        <strong class="strong-font">About Team IncrEdibleBytes</strong>
    </div>
</div>
<div class="container ctn-width2">
    <div class="notification mt-3 mb-3 custom-margin2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
    </div>
</div>


<div class="container">
    <div class="columns">
        <div class="column">
            <img src="assets/img/yashasvi.jpeg">
            <code class="center">Yashasvi Wankhede</code>
        </div>
        <div class="column">
            <img src="assets/img/tripti.jpeg">
            <code class="center">Tripti Rajput</code>
        </div>
        <div class="column">
            <img src="assets/img/shalaka.jpeg">
            <code class="center">Shalaka Bhatt</code>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <img src="assets/img/rajni.jpeg">
            <code class="center">Rajni Saini</code>
        </div>
        <div class="column">
            <img src="assets/img/shrutika.jpeg">
            <code class="center">Shrutika Birje</code>
        </div>
        <div class="column">
            <img src="assets/img/amit.jpeg">
            <code class="center">Amit Agrawal</code>
        </div>
      </div>
</div>