<div class="container ctn-width mb-3" >
  <div class="notification mt-3 mb-3 custom-margin centered">
    <strong class="strong-font">Food donating restaurants in Pune</strong>
  </div>
</div>


<div *ngFor="let restaurant of restaurants">
  
  <div class="container " >
    <div class="notification mt-3 mb-3 custom-margin">
      <div class="columns">
        <div class="column is-one-fifth">
            <img src="assets/img/restaurant.png">
        </div>
        <div class="column ">
          <p class="title">{{restaurant.name}}</p>
          <p class="subtitle mb-0">Type : {{restaurant.food_type}}, {{restaurant.food_description}} </p>
          <p class="subtitle mb-0">Prepared at : {{restaurant.prepared_at}}</p>
          <p class="subtitle mb-0">Shelf life : {{restaurant.shell_life}}</p>
          <p class="subtitle mb-0">Consumable till : {{restaurant.consumable_till}}</p>
          <p class="subtitle mb-0">Contact : {{restaurant.contact}}</p>
          <p class="subtitle mb-0">Quantity : {{restaurant.quantity}}</p>
        </div>
        <div class="column is-one-fifth">
          <button class="button is-link">Order</button>
        </div>
      </div>
      </div>
  </div>
</div>
