<div class="container margin-container" >
    <div class="notification is-primary">
      <strong class="strong-font">About IncrEdibleBytes</strong><br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam 
    </div>
    <div class="notification ">
        <strong class="strong-font">Our Vision</strong>
      </div>
  </div>
  <div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box zero-padding">
            <img src="assets/img/vision1.png">
          </article>
        </div>
        <div class="tile is-parent is-8">
          <article class="tile is-child box">
            <p class="subtitle">Bridging the gap between food donors and NGOs</p>
            <div class="content">
              <p>IncrEDIBLE Bytes provides a platform for people to post information regarding the leftover food rather than chucking it away. On the other hand, NGO's can use the same platform to connect with these people, collect food and provide it to needy ones.
            </div>
          </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box zero-padding">
                <img src="assets/img/vision2.png">
              </article>
        </div>
        <div class="tile is-parent is-8">
          <article class="tile is-child box">
            <p class="subtitle">Reduce Food Waste</p>
            <div class="content">
              <p>ood wastage starts right from the soil of the fields to the leftovers from restaurants and homes all across the world. Our aim is to reduce food wastage by providing means to donate it rather than disposing it off.</p>
            </div>
          </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box zero-padding">
                <img src="assets/img/vision3.png">
              </article>
        </div>
        <div class="tile is-parent is-8">
          <article class="tile is-child box">
            <p class="subtitle">Encourage sustainable farming method-organic farming</p>
            <div class="content">
              <p>We aim to collect non-edible food waste from restaurants and convert it into organic fertilizers and providing it for urban gardening.
            </div>
          </article>
        </div>
    </div>
</div>